@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');


@font-face {
    font-family: "pokemon";
    src: url("../fonts/pokemon/Pokemon\ Hollow.ttf");
  }

  @font-face {
    font-family: "pokemonh1";
    src: url("../fonts/pokemon/Pokemon\ Solid.ttf");
  }



/* VÁRIAVEIS*/
 :root{ 
    --font: 'Dela Gothic One', cursive;
    --darkMode: #031321;
    --colorFont: #2196f3;
    --discRed: rgb(207, 28, 28);
    --discBlack: rgb(0, 0, 0);
    --shadowBorder: lightblue; 
}

html, body,
figure, div, 
input, textarea, 
p, h1, h2, h3, 
h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
} 

html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    height:100vh;  
    display:flex; 
    flex-direction:column; 
    background-image: url(https://i.pinimg.com/originals/43/77/4f/43774fb3b7eecc24a4ae700260b206f0.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    color: var(--colorFont);
}

#devs{
    width: 60px;
    margin-left: 5px;
    cursor: pointer;
}
header{
    margin-top: 0.8em;
    text-align: center;
}

main{    
    text-align: center;
}
header{
    margin: 0;
    height: 80px;
    background-image: url(https://fontmeme.com/permalink/210408/06d15b2c273a4cbc6160013282d88bcc.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70% 70%;
}
h1{
   display: none;
}

.celStyle{
    border: 1px solid #63524F;
    background-image: url(../images/oi.png);
    border-collapse:collapse;
    width: 30px;
    height: 30px;
}
/* DISCS */




.hidden{
    display: none;
}
#table{
    display: none;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.redBall, .blackBall{
    width: calc(inherit*0.9);
    height: 100%;
    
}


.redBall{
    background-image: url(../images/pikachu.png);
    background-size: 100% 100%;
    /* border: white 2px solid; */
}
.blackBall{
    background-image: url(../images/charmander.png);
    background-size: 100% 100%;
    /* border: white 2px solid; */
}

input{
    background-color:#EF594F;
    margin: 10px 10px 0 0px;
    padding: 10px 13px;
    font-family: "pokemon";
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: bolder;
    border: #63524F 3px  solid;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}


input:hover{
    transform: translateY(-0.25em);
    color: #255784;
    background-color: var(--colorFont);
    box-shadow:  0 0 10px var(--colorFont), 0 0 40px var(--colorFont), 0 0 80px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}
.newMatch{
    width: 100px;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.whoWins{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    z-index: 3;
}

.win {
    display: none;
    background-color: rgba(218, 128, 37, 0.8);
    color: rgb(255, 255, 255);
    width: 260px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.newMatch{
    padding: 10px 5px;
    width: 240px;
    margin: 20px 0;
}
/* EXTRA */

/* rules*/
#instructions{
    position: absolute;
    background-color: rgb(218, 128, 37);
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px 20px;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17em;
    width: 80vw;
    margin: 20px auto;
    color: rgb(44, 25, 25);
    font-family: var(--font);
    z-index: 2;
    }
#closeRules{
    background-color: white;
    border: none;
    color: var(--darkMode);
    margin: 0;
    width: auto;
    padding: 0;
    position: relative;
    float: right;
}
/* score*/
#score{
    display: none;
    justify-content: center;
}
.scoreAll {
    display: flex;
    align-items: flex-end;
    background-image: url(../images/poke.webp);
    background-size: 100% 100%;
    margin: 30px 2px;
    border-radius: 5px;
    padding: 15px 20px;
}

.scoreAll h3{
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    font-family: sans-serif;
}


.redTurn {
    background-image: url(../images/facePikachu.jpg);
     background-size: 100% 100%;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.10em);
    box-shadow:  0 0 10px yellowgreen, 0 0 40px yellowgreen, 0 0 80px yellowgreen;
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}

.blackTurn {
    background-image: url(../images/faceCharmander.jpg.jpg);
  background-size: 100% 100%;
    color:rgb(206, 186, 186);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.1em);
    color: rgb(221, 187, 187);
    background-color: rgba(14, 12, 12, 0.8);
    box-shadow:  0 0 10px orangered, 0 0 40px orangered, 0 0 80px orangered;
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}

.scoreTextRed{
    display: none;
}

.scoreTextBlack{
    display: none;
}

@media screen and (min-width: 360px){
    .celStyle{
    width: 30px;
    height:30px;
    }
    .redBall, .blackBall{
        margin-top: 4px;
    }
    input{
        width: 90px;
        font-size: 0.8em;
        outline: none;
    }
   
    .scoreAll{
        font-size: 1rem;

    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }
    #instructions{
        top: 18em;
    }

}
@media screen and (min-width: 414px){
    
    .celStyle{
        width: 50px;
        height:50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 98px;
        font-size: 0.9em;
    }
    .scoreAll{
        font-size: 1.3rem;

    }

    .scoreAll{
        font-size: 8px;
        width: 21.5em;
        height: 8em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }



    .win {
        width: 360px;
        padding: 45px 45px 80px 45px;
    }

}

@media screen and (min-width: 550px){
    #instructions{
        top: 20em;
        width: 400px;
    }
    header{
        background-size: 80% 80%;
    }
}


@media screen and (min-width: 768px){
    body{
        width: 100vw;
        height: 90vh;
    }
    #devs{
        width: 110px;
    }
    .celStyle{
    height:6vh;
    width: 6vh;
    }

    header{
        background-size: 400px 80px;
        /* background-size: contain; */
        min-height: 80px;
    }

    .scoreAll{
        font-size: 1.8rem;
        width: 200px;
        height: 70px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 18px;
    }

    #instructions{
        width: 50vw;
        top: 23rem;

    }

    .win {
        width: 560px;
        height: 450px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 22px;
    }

    .whoWins input{
        margin-top: 50px;
    }

}   

@media screen and (min-width: 800px){
   
    .celStyle{
    width: 7vh;
    height:7vh;
    min-width: 50px;
    min-height: 50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }

    .blackScore, .redScore{
        font-size: 2.5rem;
        }


    .win {
        width: 490px;
        height: 490px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 26px;
    }

    .whoWins input{
        padding: 30px 0;
        width: 300px;
    }

    .scoreAll{
        margin: 30px 10px 10px;
        max-width: 200px;
        text-transform: uppercase;
    }
    
    
}

@media screen and (min-width: 1024px){
    body > a{
        margin: 0px;
        padding: 0px;
        width: 40px;
        float: left;
    }
    body {
        display: block;
    }
    
    header{
        background-size: initial;
        height: 140px;
    }
    input{
        width: 160px;
        font-size: 1.6em;
    }
   
    #instructions{
        width: 520px;
        height: 300px;
        top: 18rem;
    }
    
    .redBall, .blackBall{
      margin: 0;
    }

    .scoreAll{
        margin: 30px 10px 10px;
        min-width: 250px;
        height: 100px;
        text-transform: uppercase;
    }
    
}




  
