@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

/* VÁRIAVEIS*/
 :root{ 
    --font: 'Schoolbell', cursive;
    --darkMode: #7ffa67;
    --colorFont: #328994;
    --discRed: rgb(207, 28, 28);
    --discBlack: rgb(0, 0, 0);
    --shadowBorder: #7ffa67; 
}

html, body,
figure, div, 
input, textarea, 
p, h1, h2, h3, 
h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
} 

html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    height:100vh;  
    display:flex; 
    flex-direction:column; 
    background-image: url(https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fwallpaperaccess.com%2Ffull%2F401059.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    color: var(--colorFont);
}

h1{
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:#6AC032;
    text-shadow: 0.02em 0.02em 0.02em #7ffa67,
    -0.02em -0.02em 0.02em #7ffa67,
    0 0 0.2em #7ffa67;
    animation: textShadow 2s linear infinite alternate;
}

#devs{
    width: 60px;
    margin-left: 5px;
    cursor: pointer;
}
header{
    margin-top: 0.8em;
    text-align: center;
}

main{    
    text-align: center;
}

h1{
    font-size: 1.6rem;
}

.celStyle{
    border: 2px solid var(--colorFont);
    box-shadow: var(--shadowBorder) 5px 5px 10px 0px;
    width: 30px;
    height: 30px;
}
/* DISCS */


.hidden{
    display: none;
}
#table{
    display: none;
    flex-direction: row;
    justify-content: center;
}
.redBall, .blackBall{
    width: calc(inherit*0.9);
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
}
.redBallScore, .blackBallScore{
    border: white 2px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
.redBallScore{
    background-image: url(https://i1.wp.com/cloud.estacaonerd.com/wp-content/uploads/2019/07/17091456/rick-and-morty-4-temp1.jpg?fit=3000%2C1688&ssl=1);
    background-size: cover;
    background-position: center;

}
.blackBallScore{
    background-image: url(https://i1.wp.com/cloud.estacaonerd.com/wp-content/uploads/2019/07/17091456/rick-and-morty-4-temp1.jpg?fit=3000%2C1688&ssl=1);
    background-size: cover;
    background-position: center;

}

.redBall{
    background-image: url(../icon/rick.png);
    background-size: contain;
    background-position: center;
}
.blackBall{
    background-image: url(../icon/morty.png);
    background-size: contain;
    background-position: center;

}

input{
    width: 70px;
    background-color: var(--darkMode);
    margin: 3vh 20px 3vh 0px;
    padding: 10px;
    font-family: var(--font);
    /* font-size: inherit; */
    text-transform: uppercase;
    font-weight: bolder;
    border: var(--darkMode) 1px  solid;
    border-radius: 20px;
    color: var(--colorFont);
    text-shadow: 3px 3px 3px #6AC032;
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}
/* body > section > div.blackWins.win > p:nth-child(3){
    color: white !important;
} */
input:hover{
    transform: translateY(-0.25em);
    color: #255784;
    background-color: var(--colorFont);
    box-shadow:  0 0 10px var(--colorFont), 0 0 40px var(--colorFont), 0 0 80px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}
.newMatch{
    width: 100px;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.whoWins{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.win {
    display: none;
    background-image: url(../icon/portal.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 260px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    align-items: center;
    color: white;
}

.newMatch{
    padding: 10px 5px;
    width: 240px;
    margin: 20px 0;
}
/* EXTRA */

/* rules*/
#instructions{
    position: absolute;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px 20px;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17em;
    width: 80vw;
    margin: 20px auto;
    opacity: 0.8;
    color: var(--colorFont);
    font-family: var(--font);
    z-index: 2;
    }
#closeRules{
    background-color: white;
    border: none;
    color: var(--darkMode);
    margin: 0;
    width: auto;
    padding: 0;
    position: relative;
    float: right;
}
/* score*/
#score{
    display: none;
    justify-content: center;
}
.scoreAll {
    text-align: center;
    background-color: var(--colorFont);
    color:var(--darkMode);
    width: 45vw;
    margin: 30px 2px;
    border-radius: 5px;
    padding: 5px;
}


div>h3{
    padding-left: 5px;
    font-size: 14px;
}
div>#redScore, div>#blackScore{
    margin: 0 auto;
}

.redTurn {
    color:white;
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.10em);
    background-image: url(../icon/Project\ Capture.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  0 0 10px var(--darkMode), 0 0 20px var(--darkMode), 0 0 40px var(--darkMode);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}

.blackTurn {
    background-color: black;
    color:rgb(0, 0, 0);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.1em);
    background-image: url(https://img.ibxk.com.br/2020/09/03/03151121886116.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow:  0 0 10px var(--colorFont), 0 0 20px var(--colorFont), 0 0 40px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}


@media screen and (min-width: 360px){
    .celStyle{
    width: 30px;
    height:30px;
    }
    .redBall, .blackBall{
        margin-top: 4px;
    }
    input{
        width: 90px;
        font-size: 0.8em;
        outline: none;
    }
   
    .scoreAll{
        font-size: 1rem;

    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }
    #instructions{
        top: 18em;
    }

}
@media screen and (min-width: 414px){
    
    .celStyle{
        width: 50px;
        height:50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 98px;
        font-size: 0.9em;
    }
    .scoreAll{
        font-size: 1.3rem;

    }

    .scoreAll{
        font-size: 8px;
        width: 21.5em;
        height: 8em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }



    .win {
        width: 360px;
        padding: 45px 45px 80px 45px;
    }

}

@media screen and (min-width: 550px){
    #instructions{
        top: 20em;
        width: 400px;
    }
}


@media screen and (min-width: 768px){
    body{
        width: 100vw;
        height: 90vh;
    }
    #devs{
        width: 110px;
    }
    .celStyle{
    height:6vh;
    width: 6vh;
    }
    .scoreAll{
        font-size: 1.8rem;
        width: 200px;
        height: 70px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 18px;
    }

    #instructions{
        width: 50vw;
        top: 23rem;

    }

    .win {
        width: 560px;
        height: 450px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 22px;
    }

    .whoWins input{
        margin-top: 50px;
    }

}   

@media screen and (min-width: 800px){
    body{
        width: 100vw;
        height: 90vh;
    }
    .celStyle{
    width: 7vh;
    height:7vh;
    min-width: 50px;
    min-height: 50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }

    .blackScore, .redScore{
        font-size: 2.5rem;
        }


    .win {
        width: 490px;
        height: 490px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 26px;
    }

    .whoWins input{
        padding: 30px 0;
        width: 300px;
    }

    .scoreAll{
        margin: 30px 10px 10px;
        max-width: 200px;
        text-transform: uppercase;
    }
    
    
}

@media screen and (min-width: 1024px){
    body > a{
        margin: 0px;
        padding: 0px;
        width: 40px;
        float: left;
    }
    body {
        display: block;
    }
    header > h1{
        font-size: 3rem;
    }
   
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 160px;
        font-size: 1.6em;
    }
   
    #instructions{
        width: 520px;
        height: 300px;
        top: 18rem;
    }
    .scoreAll{
        height: 80px;
        width: 8000px;
    }

}