.redBall, .blackBall{
    animation: goDown 1.6s 1;
    animation-timing-function: ease-in-out;
    position: relative;
    z-index: -1;
}
@keyframes goDown{
    0%{
        top: -700px;
    }
    20%{
        top: 0px;
    }
    40%{
        top: -120px;
    }
    60%{
        top: 0px;
    }
    80%{
        top: -20px;
    }
    100%{
        top: 0px;
    }
}