@font-face {
    font-family: 'Star-wars';
    src: url(../font/star_jedi/starjout/Starjout.ttf);
}

/* VÁRIAVEIS*/
 :root{ 
    --font: 'Star-wars';
    --darkMode: #031321;
    --colorFont: #fee71d;
    --discRed: rgb(207, 28, 28);
    --discBlack: rgb(0, 0, 0);
    --shadowBorder: lightblue; 
}

html, body,
figure, div, 
input, textarea, 
p, h1, h2, h3, 
h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
    letter-spacing: 10px;
} 
html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
body{
    height:100vh;  
    display:flex; 
    flex-direction:column; 
    background-image: url(https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png);
    background-repeat: repeat;
    color: var(--colorFont);
}
#devs{
    width: 60px;
    margin-left: 5px;
    cursor: pointer;
}
header>h1{
    margin:0 auto;
    margin-bottom:50px;
    text-align: center;
    font-size: 1em;
    transform: perspective(70px) rotateX(20deg);
    text-shadow: rgb(216, 10, 10) 2px 6px 2px, rgb(22, 56, 170) 2px 12px 2px;
}

main{    
    text-align: center;
}

.celStyle{
    border: 2px solid var(--colorFont);
    box-shadow: var(--shadowBorder) 5px 5px 10px 0px;
    width: 30px;
    height: 30px;
}
/* DISCS */


.hidden{
    display: none;
}
#table{
    display: none;
    flex-direction: row;
    justify-content: center;
}
.redBall, .blackBall{
    width: calc(inherit*0.9);
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
}
.redBallScore, .blackBallScore{
    border: white 2px solid;
    border-radius: 50%;
    width: 25px;
    height: 25px;

}
.redBallScore{
    background-color:var(--discRed);
}
.blackBallScore{
    background-color: var(--discBlack);
}

.redBall{
    background-image: url(../icon/darkvader.png);
    background-repeat: no-repeat;
    background-size: contain;
}
.blackBall{
    background-image: url(../icon/ladoforça.png);
    background-repeat: no-repeat;
    background-size: contain;
}

input{
    width: 70px;
    background-image: url(https://i.pinimg.com/originals/d7/a6/11/d7a61190a836bdcfc62bf97af4f4c74b.png);
    margin: 3vh 10px;
    padding: 10px;
    letter-spacing:5px;
    font-family: var(--font);
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 10px;
    border: var(--darkMode) 1px  solid;
    border-radius: 20px;
    color: var(--colorFont);
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}
input:hover{
    transform: translateY(-0.25em);
    color: rgb(236, 34, 34);
    background-color: var(--colorFont);
    box-shadow:  0 0 10px var(--colorFont), 0 0 40px var(--colorFont), 0 0 80px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}
main>#rules:hover{
    color:  rgb(26, 194, 40);
}


.newMatch{
    width: 100px;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.whoWins{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.win {
    display: none;
    background-color: rgba(255, 255, 255, 0.75);
    width: 260px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.newMatch{
    padding: 10px 5px;
    width: 240px;
    margin: 20px 0;
}
/* EXTRA */

/* rules*/
#instructions{
    position: absolute;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px 20px;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17em;
    width: 80vw;
    margin: 20px auto;
    color: var(--colorFont);
    font-family: var(--font);
    z-index: 2;
    }
#closeRules{
    background-color: white;
    border: none;
    color: var(--darkMode);
    margin: 0;
    width: auto;
    padding: 0;
    position: relative;
    float: right;
}
/* score*/
#score{
    display: none;
    justify-content: center;
}
.scoreAll {
    text-align: center;
    background-color: var(--colorFont);
    color:var(--darkMode);
    width: 45vw;
    margin: 30px 2px;
    border-radius: 5px;
    padding: 5px;
}


div>h3{
    padding-left: 5px;
    font-size: 14px;
}
div>#redScore, div>#blackScore{
    margin: 0 auto;
}

.redTurn {
    color:rgb(223, 190, 190);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.10em);
    color: rgb(221, 187, 187);
    background-color: rgb(173, 26, 26);
    box-shadow:  0 0 10px red, 0 0 20px black, 0 0 40px red;
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}

.blackTurn {
    background-color: black;
    color:rgb(206, 186, 186);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.1em);
    color: rgb(221, 187, 187);
    background-color: rgb(14, 12, 12);
    box-shadow:  0 0 10px blue, 0 0 20px blue, 0 0 40px limegreen;
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}
#bb8Music{
position: fixed;
top: 2%;
left: 93%;
}
#bb8MusicLabel{
    position: fixed;
    top: 8%;
    left: 88%;
}

@keyframes darksideNeon{
    from{
        filter:drop-shadow(0 0 0px rgb(167, 10, 10));
    }
    to{
        filter: drop-shadow(0 0 8px black);
    }
}
@keyframes forcesideNeon{
    from{
        filter:drop-shadow(0 0 3px rgb(26, 10, 167));
    }
    to{
        filter: drop-shadow(0 0 8px rgb(12, 153, 19));
    }
}

#iconImperio{
width: 40px;
}
#iconAlianca{
width: 40px;    
}


@media screen and (min-width: 360px){
    .celStyle{
    width: 30px;
    height:30px;
    }
    .redBall, .blackBall{
        margin-top: 4px;
    }
    input{
        width: 90px;
        font-size: 0.8em;
        outline: none;
    }
   
    .scoreAll{
        font-size: 1rem;

    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }
    #instructions{
        top: 21em;
    }

}
@media screen and (min-width: 414px){
    
    .celStyle{
        width: 50px;
        height:50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 98px;
        font-size: 0.9em;
    }
    .scoreAll{
        font-size: 1.3rem;

    }

    .scoreAll{
        font-size: 8px;
        width: 21.5em;
        height: 8em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }



    .win {
        width: 360px;
        padding: 45px 45px 80px 45px;
    }

}
@media screen and (min-width: 768px){
    body{
        width: 100vw;
        height: 90vh;
    }
    #devs{
        z-index: 2;
        width: 210px;
    }
    .celStyle{
    height:6vh;
    width: 86px;
    }
    .scoreAll{
        font-size: 1.8rem;
        width: 38vw;
        height: 3.5em;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 0.8em;
    }
    #black>p{
        font-size: 1.5em;
    
    }
    #red>p{
        font-size: 1.5em;
    }

    #instructions{
        width: 50vw;
        top: 28em;

    }

    .win {
        width: 560px;
        height: 450px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 22px;
    }

    .whoWins input{
        margin-top: 50px;
    }

}   

@media screen and (min-width: 800px){
    body{
        width: 100vw;
        height: 90vh;
    }
    .celStyle{
    width:140px;
    height:105px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }

    .blackScore, .redScore{
        font-size: 2.5rem;
        }


    .win {
        width: 550px;
        height: 550px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 32px;
    }

    .whoWins input{
        padding: 30px 0;
        width: 300px;
    }

    .scoreAll{
        margin: 30px 10px 10px;
        max-width: 300px;
    }
    
    
}

@media screen and (min-width: 1024px){
    body > a{
        margin: 0px;
        padding: 0px;
        width: 40px;
        float: left;
    }
    body {
        display: block;
    }
    header > h1{
        font-size: 3rem;
        z-index: 1;
    }
   
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 160px;
        font-size: 1.6em;
    }
   
    #instructions{
        width: 38vw;
        top: 50%;
        }
    .celStyle{
            border: 2px solid var(--colorFont);
            box-shadow: var(--shadowBorder) 5px 5px 10px 0px;
            border-radius: 80%;
            margin-right: 15px;
            margin-bottom: 10px;
            width: 80px;
            height: 65px;
            
    }
 
    #score > div.scoreAll.scoreRed {
        font-size: 18px;
        height: 90px;
        animation: darksideNeon 1s alternate infinite ease-in-out;

    }
    #score > div.scoreAll.scoreBlack.blackTurn{
        font-size: 18px;
        height: 90px;
        animation: forcesideNeon 1s alternate infinite ease-in-out;
    
    }

    .redBall, .blackBall{
        margin-top: 5px;
        margin-left: 14px;
    }
    div>h3{
        font-size: 18px;
        
    }
    #instructions{
    background-color: rgb(0, 0, 0);
    }
    #closeRules{
        color: red;
    }
    body > section > div.redWins.win{
        background-color: black;
        color:blue;
    }
    body > section > div.blackWins.win{
        background-color: black;
        color:blue;
    }
    body > section > div.tie.win{
        background-color: black;
        color:blue;
    }
}
         

    

  
