@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

:root{
    --darkMode: #031321;
    --font: 'Dela Gothic One', cursive;
    --colorFont: #2196f3;
}


html, body,
figure, div, 
input, textarea, 
p, h1, h2, h3, 
h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
}
html{
    width: 100vw;
    height: 100vh;
    background-color: var(--darkMode);
    font: var(--font);
}


h1{
    margin-top: 10px;
    text-align: center;
    color: var(--colorFont);
    font: var(--font);
    font-size: 2em;
    border-bottom: var(--colorFont) 1px solid ;
}
h2{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    margin-right: 1em;
    margin-bottom: 35px;
    margin-left: 1em;
    color: var(--colorFont);
    font: var(--font);
}
.iconeLink{
    width: 30px;
}

footer{
    display: flex;
    justify-content: center;
    align-content: flex-end;
}

#btnButton{
    width: 70px;
    background-color: var(--darkMode);
    margin: 50px 10px;
    padding: 10px;
    font-family: var(--font);
    font-size: 0.8em;
    text-transform: uppercase;
    font-weight: bolder;
    border: var(--darkMode) 1px  solid;
    border-radius: 20px;
    color: var(--colorFont);
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}
input:hover{
    transform: translateY(-0.25em);
    color: #255784;
    background-color: var(--colorFont);
    box-shadow:  0 0 10px var(--colorFont), 0 0 40px var(--colorFont), 0 0 80px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}



@media screen and (min-width: 360px){

}
@media screen and (min-width: 414px){
    main>h2{
        font-size: 1em;
    }   
    .iconeLink{
        width: 50px;
    }
    #btnButton{
        width: 25vw;
        font-size: 1em;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px){
    main>h2{
        font-size: 2em;
    }   
    .iconeLink{
        width: 50px;
    }
    #btnButton{
        width: 30vw;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}   
@media screen and (min-width: 800px){
    
}
@media screen and (min-width: 1024px){      
    main>h2{
        font-size: 1.5em;
    }   
    .iconeLink{
        width: 50px;
    }
    #btnButton{
        width: 10vw;
        font-size: 1.5em;
        margin-bottom: 10px;
    }
}
    

  