@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

/* VÁRIAVEIS*/
 :root{ 
    --font: 'Dela Gothic One', cursive;
    --darkMode: #031321;
    --colorFont: #2196f3;
    --discRed: rgb(207, 28, 28);
    --discBlack: rgb(0, 0, 0);
    --shadowBorder: lightblue; 
}

html, body,
figure, div, 
input, textarea, 
p, h1, h2, h3, 
h4, h5, h6, ul, a{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
    list-style: none;
    text-decoration: none;
} 

html{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

body{
    height:100vh;  
    display:flex; 
    flex-direction:column; 
    background-color: var(--darkMode);
    color: var(--colorFont);
}

#devs{
    width: 60px;
    margin-left: 5px;
    cursor: pointer;
}
header{
    margin-top: 0.8em;
    text-align: center;
}

main{    
    text-align: center;
}

h1{
    font-size: 1.6rem;
}

.celStyle{
    border: 2px solid var(--colorFont);
    box-shadow: var(--shadowBorder) 5px 5px 10px 0px;
    width: 30px;
    height: 30px;
}
/* DISCS */


.hidden{
    display: none;
}
#table{
    display: none;
    flex-direction: row;
    justify-content: center;
}
.redBall, .blackBall{
    width: calc(inherit*0.9);
    height: 80%;
    border-radius: 50%;
    margin-top: 5px;
}
.redBallScore, .blackBallScore{
    border: white 2px solid;
    border-radius: 50%;
    width: 20px;
    height: 20px;

}
.redBallScore{
    background-color:var(--discRed);

}
.blackBallScore{
    background-color: var(--discBlack);

}

.redBall{
    background-color:var(--discRed);
    border: white 2px solid;
}
.blackBall{
    background-color: var(--discBlack);
    border: white 2px solid;
}

input{
    width: 70px;
    background-color: var(--darkMode);
    margin: 3vh 20px 3vh 0px;
    padding: 10px;
    font-family: var(--font);
    /* font-size: inherit; */
    text-transform: uppercase;
    font-weight: bolder;
    border: var(--darkMode) 1px  solid;
    border-radius: 20px;
    color: var(--colorFont);
    cursor: pointer;
    transition: 0.2s all;
    outline: none;
}
input:hover{
    transform: translateY(-0.25em);
    color: #255784;
    background-color: var(--colorFont);
    box-shadow:  0 0 10px var(--colorFont), 0 0 40px var(--colorFont), 0 0 80px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}
.newMatch{
    width: 100px;
}
@keyframes pulse {
  0% { box-shadow: 0 0 0 0 var(--hover); }
}


.whoWins{
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.win {
    display: none;
    background-color: rgba(255, 255, 255, 0.75);
    width: 260px;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 20px;
    align-items: center;
}

.newMatch{
    padding: 10px 5px;
    width: 240px;
    margin: 20px 0;
}
/* EXTRA */

/* rules*/
#instructions{
    position: absolute;
    background-color: white;
    flex-direction: column;
    border-radius: 10px;
    text-align: center;
    padding: 40px 20px 20px;
    align-items: center;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 17em;
    width: 80vw;
    margin: 20px auto;
    color: var(--colorFont);
    font-family: var(--font);
    z-index: 2;
    }
#closeRules{
    background-color: white;
    border: none;
    color: var(--darkMode);
    margin: 0;
    width: auto;
    padding: 0;
    position: relative;
    float: right;
}
/* score*/
#score{
    display: none;
    justify-content: center;
}
.scoreAll {
    text-align: center;
    background-color: var(--colorFont);
    color:var(--darkMode);
    width: 45vw;
    margin: 30px 2px;
    border-radius: 5px;
    padding: 5px;
}


div>h3{
    padding-left: 5px;
    font-size: 14px;
}
div>#redScore, div>#blackScore{
    margin: 0 auto;
}

.redTurn {
    color:rgb(223, 190, 190);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.10em);
    color: rgb(221, 187, 187);
    background-color: rgba(173, 26, 26, 0.8);
    box-shadow:  0 0 10px var(--colorFont), 0 0 20px var(--colorFont), 0 0 40px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}

.blackTurn {
    background-color: black;
    color:rgb(206, 186, 186);
    font-size: 15px;
    font-family: 'Noto Sans', sans-serif;
    letter-spacing: 0.5px;
    transform: translateY(-0.1em);
    color: rgb(221, 187, 187);
    background-color: rgba(14, 12, 12, 0.8);
    box-shadow:  0 0 10px var(--colorFont), 0 0 20px var(--colorFont), 0 0 40px var(--colorFont);
    transition-delay: 0.1s;
    animation: pulse 0.25s;
}


@media screen and (min-width: 360px){
    .celStyle{
    width: 30px;
    height:30px;
    }
    .redBall, .blackBall{
        margin-top: 4px;
    }
    input{
        width: 90px;
        font-size: 0.8em;
        outline: none;
    }
   
    .scoreAll{
        font-size: 1rem;

    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }
    #instructions{
        top: 18em;
    }

}
@media screen and (min-width: 414px){
    
    .celStyle{
        width: 50px;
        height:50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 98px;
        font-size: 0.9em;
    }
    .scoreAll{
        font-size: 1.3rem;

    }

    .scoreAll{
        font-size: 8px;
        width: 21.5em;
        height: 8em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 14px;
    }
    div>#redScore, div>#blackScore{
        margin: 0 auto;
    }



    .win {
        width: 360px;
        padding: 45px 45px 80px 45px;
    }

}

@media screen and (min-width: 550px){
    #instructions{
        top: 20em;
        width: 400px;
    }
}


@media screen and (min-width: 768px){
    body{
        width: 100vw;
        height: 90vh;
    }
    #devs{
        width: 110px;
    }
    .celStyle{
    height:6vh;
    width: 6vh;
    }
    .scoreAll{
        font-size: 1.8rem;
        width: 200px;
        height: 70px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }
    div>h3{
        padding-left: 5px;
        font-size: 18px;
    }

    #instructions{
        width: 50vw;
        top: 23rem;

    }

    .win {
        width: 560px;
        height: 450px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 22px;
    }

    .whoWins input{
        margin-top: 50px;
    }

}   

@media screen and (min-width: 800px){
    body{
        width: 100vw;
        height: 90vh;
    }
    .celStyle{
    width: 7vh;
    height:7vh;
    min-width: 50px;
    min-height: 50px;
    }
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 150px;
        font-size: 1.6em;
    }

    .blackScore, .redScore{
        font-size: 2.5rem;
        }


    .win {
        width: 490px;
        height: 490px;
    }
    
    .whoWins p {
        margin-top: 20px;
        font-size: 26px;
    }

    .whoWins input{
        padding: 30px 0;
        width: 300px;
    }

    .scoreAll{
        margin: 30px 10px 10px;
        max-width: 200px;
        text-transform: uppercase;
    }
    
    
}

@media screen and (min-width: 1024px){
    body > a{
        margin: 0px;
        padding: 0px;
        width: 40px;
        float: left;
    }
    body {
        display: block;
    }
    header > h1{
        font-size: 3rem;
    }
   
    .redBall, .blackBall{
        margin-top: 10px;
    }
    input{
        width: 160px;
        font-size: 1.6em;
    }
   
    #instructions{
        width: 520px;
        height: 300px;
        top: 18rem;
    }
    .scoreAll{
        height: 80px;
        width: 8000px;
    }

}




  
